@media screen and (max-width: 1120px) {
    header, main, footer {
        padding: 0 8px;
        font-size: 13px !important;
    }
    .main__catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}